*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';

}
::-webkit-scrollbar {
    display: none;
}
.header{
	min-height: 100vh;
	border-block-end-width: 100%;
	background-image: url('images/img_home.jpg');
	background-position: center;
	background-size: cover;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{

	width: 150px;
	min-height: 150px;
}
.navig{
	flex: 1;
	text-align: right;

}
.navig ul li{
	list-style: none;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	
}
.navig ul li a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	font-weight: 500;
}
.navig ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #2835bf;
	display:  block;
	margin: auto;
	transition: 0.5s;
}
.navig ul li:hover::after{
	width: 100%;
}
.info{
	width: 50%;
	color: white;
	position: absolute;
	top: 40%;
	left: 25%;
	
	text-align: center;
}
.info h1{
	background-color: #141E30;
	font-size: 60px;
}
.info p{
	margin: 10px 0 40px;
	font-size: 16px;
	color: white;
}
.hero{
	display: inline-block;
	text-decoration: none;
	border: 1px solid white;
	padding: 12px 33px;
	background: transparent;
	position: relative;
	cursor: pointer;
	color: white;
}
.hero:hover{
	border: 1px solid lightskyblue;
	transition: 1s;
	background:  #69b1db ;
}

.top{
width: 100%;
margin: auto;
text-align: center;
padding-top: 100px ;
min-height: 100vh;
border-block-end-width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.3),rgb(4, 9,30,0.3)),url('images/img_home5.jpg');
background-position: center;
background-size: cover;
color: white;
overflow: auto;
}

.top h1{
text-align: left;
padding-left: 50px;
}

.tprated{
	flex: 1;
	text-align: left;
	text-decoration: none;
	padding-left: 50px;
	padding-top: 10px;
	
}


.pghd {
text-transform: Uppercase;
font-family: 'Rubik', sans-serif;
font-size: 6rem;
color: #E4E5E6; 
background: linear-gradient(to right, #FFFFFF , #69b1db );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.header nav h2{
	font-family: font-family: 'Bebas Neue', cursive;
	color:#d7eaf5;
	letter-spacing: 2px;
	font-size: 35px;
}

=
.ag > *{
	display: inline-block;

}

.tprated img{
padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 80%;
    border-radius: 20px;
}


.glassbox{
	position: relative;
	display: inline-block;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	z-index: 1;

}
.glassbox .glass{
	position: relative;
	width: 100%;
	height: 800px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter:  blur(5px);

}
.glassbox .glass .scratch{
	padding: 20px;
	text-align: left;
}
.glassbox .glass .scratch h2{
	position: absolute;
	top: -80px;
	right: 10px;
	font-size: 40em;
	color: rgba(129, 207, 224, 0.2);
	pointer-events: none;
}
.glassbox .glass .scratch h3{
	position: absolute;
	top: 10%;
 	font-size: 6em;
	color: rgba(25, 181, 254, 0.7);
	z-index: 1;
}
.glassbox .glass .scratch p{
font-size: 1.5em;
color: white;
font-weight: 300;
padding-bottom: 30px;
padding-top: 20px;
letter-spacing: 1px;
}
.glassbox .glass .scratch a{
position: relative;
top: 200px;
display: inline-block;
padding: 8px 20px;
background: #fff;
color: #000;
border-radius: 20px;
text-decoration: none;
font-weight: 500;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.glassbox .glass .scratch img{
	position: absolute;
    top: 0%;
    right: 0%;
    max-height: 100%;
    max-width: 40%;
    border-radius: 20px;
}

.footer .container{
	max-width: 1500px;
	
	margin: auto;
}
.footer .container .row .col ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
	padding: 70px 0;
}
.footer .container .row {
	clear: both;
	display: flex;	
	flex-wrap: wrap;
	
}
.footer .col{
	width: 33.33%;
	padding: 0px 15px;
	flex: 1;
}
.col .sosh{
	align-items:right;
}

.col h4{
	font-size: 24px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 10px;
	letter-spacing: 2px;
}

.col ul li a
{
	font-size: 20px;
	text-transform: capitalize;
	color: white;
	text-decoration: none;
	font-weight: 300;
	padding-bottom: 2px;
	color: #bbbbbb;
	display: block;
	transition: 0.5s;
}
.col ul li a:hover{
	transform: translateX(10px);
	
}
.sosh a i{
	padding-right: 20px;
	font-size: 30px;
	transition: 0.5s;
}
.sosh a i:hover{
	transform: rotate(360deg);
}
